<script src="../javascripts/jquery-3.2.1.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/index.js"></script>
<script src="../javascripts/navbar.js"></script>
<script src="../javascripts/mail.js"></script>
<script src="../javascripts/spinner.js"></script>
<script src="../dist/sweetalert.min.js"></script>

</body></html>