{{> header}}

<body>

{{> navbar}}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 class="text-center">Welcome to Online Book Shop!</h1>
        </div>
    </div>
    <div class="row">
        {{>book bookTitle='teste' bookAuthor='x' bookYear='2017' bookPrice='30' bookQuantity='1'}}
    </div>

</div>

{{> footer}}