{{> header}}

<body>

{{> navbar}}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 class="text-center">Welcome to Online Book Shop!</h1>
        </div>
    </div>

    <div class="row">
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a id="order-book" href="#" class="btn btn-primary" role="Order" data-target="#bookOrderModel"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-times" aria-hidden="true"></i> No Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <!--<img src="../img/200.png" alt="">-->
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-times" aria-hidden="true"></i> No Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-times" aria-hidden="true"></i> No Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
        <div class="book col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="text-center">Book Title</h3>
                    <p class="text-center">Book Atuhor</p>
                    <p class="text-center">Book Year</p>
                    <p class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Stock</p>
                    <p><a href="#" class="btn btn-primary" role="Order"><i class="fa fa-shopping-cart fa-fw"
                                                                           aria-hidden="true"></i> Order</a>
                        <a href="#" class="btn btn-default" role="Order"><i class="fa fa-map-marker"
                                                                            aria-hidden="true"></i> Store</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

{{> orderModal}}
{{> footer}}